#sign-in {
  font-size: 13px;
  line-height: 19px;
  font-family: Arial, sans-serif;
  color: #1f1f1f !important;
}
img {
  display: block;
  margin: auto;
  margin-top: 15px;
}
#sign-in-container {
  display: block;
  width: 300px;
  margin: auto;
  margin-top: 20px;
  border-radius: 4px;
  position: relative;
  padding: 20px 26px !important;
  border: 1px #979797 solid;
  background-color: #fff;
}
#sign-in-container > h1 {
  font-size: 28px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  line-height: 34px;
  margin-bottom: 10px;
  color: black;
  margin-top: 5px;
}
label {
  display: block;
  padding-left: 2px;
  padding-bottom: 2px;
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  font-weight: 700;
  margin-top: 15px;
}
form > input {
  width: 95%;
  margin: auto;
  margin-right: 0;
  margin-top: 0px;
  background-color: #fff;
  height: 24px;
  padding: 3px 7px;
  line-height: normal;
  border-radius: 3px;
  outline: 0;
  border: solid 2px #ddd !important;
  font-size: 100%;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
}
#sign-in-btn {
  width: 100%;
  height: 35px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 6px;
  color: white;
  background-color: #003953;
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
}
p {
  display: block;
  font-size: 12px !important;
  line-height: 1.5 !important;
  margin-top: 18px !important;
  width: 100%;
  box-sizing: border-box;
}
#check-box {
  height: 13px;
  width: 13px;
  vertical-align: top;
  position: relative;
  bottom: 0;
  left: 0;
  margin-left: 0;
}
#check-box-para {
  position: relative;
  padding-left: 5px;
  text-indent: 0;
  display: inline-block;
  text-align: left;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #111111;
}
span {
  color: #003953;
}
span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.newto-zappos {
  text-align: center;
  line-height: 1;
  font-size: 12px;
  color: #767676;
  font-weight: 400;
  z-index: 2;
  position: relative;
  display: inline-block;
  background-color: #fff;
  font-family: Arial, sans-serif;
  padding: 0 8px 0 7px;
}
a {
  text-decoration: none;
  color: #003953;
  font-weight: bold;
}
span:hover {
  text-decoration: underline;
}
#sign-in-tag {
  font-weight: lighter;
}
#create-zappos {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #fff;
  border-radius: 4px;
  border-color: #003953;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-family: Arial, sans-serif;
  font-weight: 700 !important;
  line-height: 29px;
  font-size: 13px;
  color: #003953;
  margin-bottom: -10px;
}
