* {
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
  font-family: "Open Sans", sans-serif;
}
* {
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
  font-family: "Open Sans", sans-serif;
}
body {
  padding: 0;
  margin: 0;
}
#shoeimagessection {
  width: 90%;
  margin: auto;
  display: flex;
  margin-top: 10px;
}
#productthumbnails {
  width: 8%;
  height: auto;
  margin-left: 0px;
}
.top-bar {
  box-sizing: border-box;
  color: #1f1f1f;
  height: 32px;
  font: 400 14px Open Sans, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5f1f8;
  color: #003953;
  width: 100%;
  max-width: 100%;
  padding: 6px;
  margin: 0 auto;
  margin-top: 28px;
}
.top-bar > p {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.top-bar > p::before {
  content: " ";
  background-image: url(https://m.media-amazon.com/images/G/01/zappos/melody/melody-sprite.2021.09.16._TTH_.svg);
  background-repeat: no-repeat;
  width: 17px;
  height: 16px;
  background-position: -150px -280px;
  margin-right: 5px;
}
.top-bar a {
  color: #003953;
}
.top-bar a:hover {
  color: #0076bd;
}
#back-to-pre {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#back-to-pre a {
  color: #003953;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
#back-to-pre a:hover {
  text-decoration: underline;
}
.verticalSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#main-img {
  display: block;
  margin: auto;
  width: 58%;
}
.sub-name {
  flex-wrap: wrap;
}
.verticalSection > div {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  height: 90px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}
.verticalSection > div:first-child {
  box-shadow: none;
  border: 1px solid black;
}
.verticalSection > div > .vrtl {
  width: 100%;
  height: 80%;
  border: 0px;
}
#productFeature {
  width: 100%;
  height: 100%;
}
#productFeature > div {
  width: 90%;
  margin: auto;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 10px;
  margin-top: 0px;
}
#buypage h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #000000;
}
#buypage h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #1f1f1f;
  margin-top: -15px;
}
#buypage .price {
  font-family: "Open Sans", sans-serif;
  color: #035d59;
  line-height: 32px;
  font-size: 42px;
  margin-top: 0px;
  font-weight: 400;
}
#buypage .price span {
  font-family: "Open Sans", sans-serif;
  color: #035d59;
  line-height: 32px;
  font-size: 24px;
  margin-top: 0px;
  font-weight: 400;
}
#buypage h1 + p {
  font-family: "Open Sans", sans-serif;
  color: #1f1f1f;
  font-size: 14px;
  font-weight: 400;
  margin-top: -20px;
}
#buypage p + p {
  background-color: #0076bd;
  width: fit-content;
  font-size: 12px;
  font-weight: 700;
  color: white;
  padding: 2px 5px;
}
#buypage .color {
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: #646464;
}
#buypage .color span {
  font-size: 14px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: #1f1f1f;
}
.differshoe {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(auto, 90px);
  margin: auto;

  gap: 0.5em;
}
.differshoe > div > img {
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.differshoe > div > img:hover {
  cursor: pointer;
}
#sizepart {
  display: flex;
}
fieldset {
  border: 0px;
}
fieldset > div > div {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 2px 0px;
}
.size-dis > div:hover {
  cursor: pointer;
  border: 1px solid #35a1dc;
}
.size-dis label {
  cursor: pointer;
}
.cart > button {
  color: #035d59;
  font: 700 14px/120% Open Sans, sans-serif;
  border: 2px solid #a7e688;
  border-radius: 4px;
  padding: 12px 14px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  touch-action: manipulation;
  text-align: center;
  transition: all 0.3s ease 0s;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  background: #a7e688;
  text-transform: capitalize;
  width: 100%;
  margin-top: 20px;
}
.cart > button:hover {
  background-color: #b9f29d;
  cursor: pointer;
  border-color: #b9f29d;
}
.freeshippara {
  text-align: center;
}
.freeshippara span {
  font-weight: 700;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #1f1f1f;
}
.freeshippara img {
  display: block;
  margin: auto;
  margin-top: 6px;
  width: 88px;
}
.fhr {
  margin-top: 30px;
}
.shr,
.fhr {
  width: 90%;
  border: 0.5px solid rgb(233, 233, 233);
}
.cara-hr {
  border: 0.5px solid rgb(233, 233, 233);
}

.cantFinddSize {
  margin-top: 1em;
}
.cantFinddSize > a {
  text-decoration: none;
  color: #0076bd;
}
#survey {
  width: 50%;
  margin: auto;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
#survey p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #505050;
}
#caurosel {
  width: 90%;
  margin: auto;
}
#customerviewed {
  margin-top: 5em;
  height: auto;
}
#customerviewed h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #1f1f1f;
}
#customerviewed1 h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #1f1f1f;
  margin-top: 50px;
}
#customerviewed2 h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #1f1f1f;
  margin-top: 50px;
}
.media-container {
  position: relative;
  height: 100%;
  display: flex;
}
.media-scroller,
.media-group {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
}
.media-scroller {
  overflow-x: hidden;
  scroll-behavior: smooth;
  grid-auto-columns: 100%;
  padding: 0 3rem;
  scroll-padding-inline: 3rem;
}
.media-scroller:first-of-type {
  padding-left: 0;
}
.media-group {
  grid-auto-columns: 1fr;
  overflow: hidden;
}
.media-element {
  width: 1fr;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 0.25rem;
  overflow: hidden;
}
.media-element > img {
  width: auto;
  height: auto;
  margin: auto;
  object-fit: cover;
}
.media-element > h1 {
  width: 100%;
  margin-top: 0.5em;
  font-weight: lighter;
  font-size: medium;
}
.media-element > h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 500px;
  font-size: medium;
}
.media-element > p {
  margin-top: 5px;
  font-weight: lighter;
  font-size: medium;
  font-size: larger;
  color: green;
}
.next,
.previous {
  display: none;
  align-items: center;
  z-index: 10;
  position: absolute;
  width: 3rem;
  padding: 1rem;
  background: rgb(0 0 0 / 0);
  opacity: 0;
  transition: opacity 0.25s;
}
.previous {
  left: 0;
  top: 0;
  bottom: 0;
}
.next {
  right: 0;
  top: 0;
  bottom: 0;
}
.media-group:first-child :where(.next, .previous) {
  display: flex;
}
:where(.next, .previous):hover {
  background: rgb(0 0 0 / 0.3);
}
:where(.next, .previous) > svg {
  transition: transform 75ms linear;
  transform: scale(1);
}
:where(.next, .previous):hover > svg {
  transform: scale(1.2);
}
.media-group:target :where(.next, .previous) {
  display: flex;
}
.media-scroller:has(:target:not(:first-child))
  .media-group:first-of-type
  .next {
  display: none;
}
.navigation-indicators {
  opacity: 0;
  position: absolute;
  display: flex;
  gap: 3px;
  top: -1rem;
  right: 2rem;
  transition: opacity 0.25s;
}
.navigation-indicators > * {
  width: 1rem;
  height: 2px;
  background: white;
  opacity: 0.5;
  transition-delay: 0.5s;
}
.media-scroller:hover :where(.next, .previous),
.media-group:not(:target) ~ .navigation-indicators > *:nth-child(1),
.media-group:nth-child(1):target ~ .navigation-indicators > *:nth-child(1),
.media-group:nth-child(2):target ~ .navigation-indicators > *:nth-child(2),
.media-group:nth-child(3):target ~ .navigation-indicators > *:nth-child(3),
.media-group:nth-child(4):target ~ .navigation-indicators > *:nth-child(4),
.media-scroller:hover .navigation-indicators {
  opacity: 1;
}
.media-group:not(:nth-child(1)):target
  ~ .navigation-indicators
  > *:nth-child(1) {
  opacity: 0.5;
}
img,
svg {
  max-width: 100%;
  display: block;
}
#customerviewed1 {
  margin-top: -10em;
  height: auto;
}
.media-container1 {
  position: relative;
  height: 100%;
  display: flex;
}
.media-scroller1,
.media-group1 {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
}
.media-scroller1 {
  overflow-x: hidden;
  scroll-behavior: smooth;
  grid-auto-columns: 100%;
  padding: 0 3rem;
  scroll-padding-inline: 3rem;
}
.media-scroller1:first-of-type {
  padding-left: 0;
}
.media-group1 {
  grid-auto-columns: 1fr;
  overflow: hidden;
}
.media-element1 {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 0.25rem;
  overflow: hidden;
}
.media-element1 > img {
  width: auto;
  height: auto;
  margin: auto;
  object-fit: cover;
}
.media-element1 > h1 {
  width: 100%;
  margin-top: 0.5em;
  font-weight: lighter;
  font-size: medium;
}
.media-element1 > h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 500px;
  font-size: medium;
}
.media-element1 > p {
  margin-top: 5px;
  font-weight: lighter;
  font-size: medium;
  font-size: larger;
  color: green;
}
.next1,
.previous1 {
  display: none;
  align-items: center;
  z-index: 10;
  position: absolute;
  width: 3rem;
  padding: 1rem;
  background: rgb(0 0 0 / 0);
  opacity: 0;
  transition: opacity 0.25s;
}
.previous1 {
  left: 0;
  top: 0;
  bottom: 0;
}
.next1 {
  right: 0;
  top: 0;
  bottom: 0;
}
.media-group1:first-child :where(.next1, .previous1) {
  display: flex;
}
:where(.next1, .previous1):hover {
  background: rgb(0 0 0 / 0.3);
}
:where(.next1, .previous1) > svg {
  transition: transform 75ms linear;
  transform: scale(1);
}
:where(.next1, .previous1):hover > svg {
  transform: scale(1.2);
}
.media-group1:target :where(.next1, .previous1) {
  display: flex;
}
.media-scroller1:has(:target:not(:first-child))
  .media-group1:first-of-type
  .next1 {
  display: none;
}
.navigation-indicators1 {
  opacity: 0;
  position: absolute;
  display: flex;
  gap: 3px;
  top: -1rem;
  right: 2rem;
  transition: opacity 0.25s;
}
.navigation-indicators1 > * {
  width: 1rem;
  height: 2px;
  background: white;
  opacity: 0.5;
  transition-delay: 0.5s;
}
.media-scroller1:hover :where(.next1, .previous1),
.media-group1:not(:target) ~ .navigation-indicators1 > *:nth-child(1),
.media-group1:nth-child(1):target ~ .navigation-indicators1 > *:nth-child(1),
.media-group1:nth-child(2):target ~ .navigation-indicators1 > *:nth-child(2),
.media-group1:nth-child(3):target ~ .navigation-indicators1 > *:nth-child(3),
.media-group1:nth-child(4):target ~ .navigation-indicators1 > *:nth-child(4),
.media-scroller1:hover .navigation-indicators1 {
  opacity: 1;
}
.media-group1:not(:nth-child(1)):target
  ~ .navigation-indicators1
  > *:nth-child(1) {
  opacity: 0.5;
}
img,
svg {
  max-width: 100%;
  display: block;
}
#customerviewed2 {
  margin-top: -10em;
  height: auto;
}
.media-container2 {
  position: relative;
  height: 100%;
  display: flex;
}
.media-scroller2,
.media-group2 {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
}
.media-scroller2 {
  overflow-x: hidden;
  scroll-behavior: smooth;
  grid-auto-columns: 100%;
  padding: 0 3rem;
  scroll-padding-inline: 3rem;
}
.media-scroller2:first-of-type {
  padding-left: 0;
}
.media-group2 {
  grid-auto-columns: 1fr;
  overflow: hidden;
}
.media-element2 {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 0.25rem;
  overflow: hidden;
}
.media-element2 > img {
  width: auto;
  height: auto;
  margin: auto;
  object-fit: cover;
}
.media-element2 > h1 {
  width: 100%;
  margin-top: 0.5em;
  font-weight: lighter;
  font-size: medium;
}
.media-element2 > h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 500px;
  font-size: medium;
}
.media-element2 > p {
  margin-top: 5px;
  font-weight: lighter;
  font-size: medium;
  font-size: larger;
  color: green;
}
.next2,
.previous2 {
  display: none;
  align-items: center;
  z-index: 10;
  position: absolute;
  width: 3rem;
  padding: 1rem;
  background: rgb(0 0 0 / 0);
  opacity: 0;
  transition: opacity 0.25s;
}
.previous2 {
  left: 0;
  top: 0;
  bottom: 0;
}
.next2 {
  right: 0;
  top: 0;
  bottom: 0;
}
.media-group2:first-child :where(.next2, .previous2) {
  display: flex;
}
:where(.next2, .previous2):hover {
  background: rgb(0 0 0 / 0.3);
}
:where(.next2, .previous2) > svg {
  transition: transform 75ms linear;
  transform: scale(1);
}
:where(.next2, .previous2):hover > svg {
  transform: scale(1.2);
}
.media-group2:target :where(.next2, .previous2) {
  display: flex;
}
.media-scroller2:has(:target:not(:first-child))
  .media-group2:first-of-type
  .next2 {
  display: none;
}
.navigation-indicators2 {
  opacity: 0;
  position: absolute;
  display: flex;
  gap: 3px;
  top: -1rem;
  right: 2rem;
  transition: opacity 0.25s;
}
.navigation-indicators2 > * {
  width: 1rem;
  height: 2px;
  background: white;
  opacity: 0.5;
  transition-delay: 0.5s;
}
.media-scroller2:hover :where(.next2, .previous2),
.media-group2:not(:target) ~ .navigation-indicators2 > *:nth-child(1),
.media-group2:nth-child(1):target ~ .navigation-indicators2 > *:nth-child(1),
.media-group2:nth-child(2):target ~ .navigation-indicators2 > *:nth-child(2),
.media-group2:nth-child(3):target ~ .navigation-indicators2 > *:nth-child(3),
.media-group2:nth-child(4):target ~ .navigation-indicators2 > *:nth-child(4),
.media-scroller2:hover .navigation-indicators2 {
  opacity: 1;
}
.media-group2:not(:nth-child(1)):target
  ~ .navigation-indicators2
  > *:nth-child(1) {
  opacity: 0.5;
}
#customerquestions {
  width: 100%;
  height: 150px;
  margin-bottom: 0em;
  margin-top: -10em;
}
#customerquestions > div > h2 {
  font-size: x-large;
}
#customerquestions > div > .questionbutton {
  width: 200px;
  height: 50px;
  font-size: large;
  border: 2px solid #023a54;
  color: #023a54;
  font-weight: bold;
}
#comment {
  font-size: medium;
  font-weight: lighter;
}
#comment > h2 {
  font-size: large;
  font-weight: 550;
}
img,
svg {
  max-width: 100%;
  display: block;
}
#customerviewed3 {
  margin-top: 0em;
  height: auto;
}
.media-container3 {
  position: relative;
  height: 100%;
  display: flex;
}
.media-scroller3,
.media-group3 {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
}
.media-scroller3 {
  overflow-x: hidden;
  scroll-behavior: smooth;
  grid-auto-columns: 100%;
  padding: 0 3rem;
  scroll-padding-inline: 3rem;
}
.media-scroller3:first-of-type {
  padding-left: 0;
}
.media-group3 {
  grid-auto-columns: 1fr;
  overflow: hidden;
}
.media-element3 {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 0.25rem;
  overflow: hidden;
}
.media-element3 > img {
  width: auto;
  height: auto;
  margin: auto;
  object-fit: cover;
}
.media-element3 > h1 {
  width: 100%;
  margin-top: 0.5em;
  font-weight: lighter;
  font-size: medium;
}
.media-element3 > h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 500px;
  font-size: medium;
}
.media-element3 > p {
  margin-top: 5px;
  font-weight: lighter;
  font-size: medium;
  font-size: larger;
  color: green;
}
.next3,
.previous3 {
  display: none;
  align-items: center;
  z-index: 10;
  position: absolute;
  width: 3rem;
  padding: 1rem;
  background: rgb(0 0 0 / 0);
  opacity: 0;
  transition: opacity 0.25s;
}
.previous3 {
  left: 0;
  top: 0;
  bottom: 0;
}
.next3 {
  right: 0;
  top: 0;
  bottom: 0;
}
.media-group3:first-child :where(.next3, .previous3) {
  display: flex;
}
:where(.next3, .previous3):hover {
  background: rgb(0 0 0 / 0.3);
}
:where(.next3, .previous3) > svg {
  transition: transform 75ms linear;
  transform: scale(1);
}
:where(.next3, .previous3):hover > svg {
  transform: scale(1.2);
}
.media-group3:target :where(.next3, .previous3) {
  display: flex;
}
.media-scroller3:has(:target:not(:first-child))
  .media-group3:first-of-type
  .next3 {
  display: none;
}
.navigation-indicators3 {
  opacity: 0;
  position: absolute;
  display: flex;
  gap: 3px;
  top: -1rem;
  right: 2rem;
  transition: opacity 0.25s;
}
.navigation-indicators3 > * {
  width: 1rem;
  height: 2px;
  background: white;
  opacity: 0.5;
  transition-delay: 0.5s;
}
.media-scroller3:hover :where(.next3, .previous3),
.media-group3:not(:target) ~ .navigation-indicators3 > *:nth-child(1),
.media-group3:nth-child(1):target ~ .navigation-indicators3 > *:nth-child(1),
.media-group3:nth-child(2):target ~ .navigation-indicators3 > *:nth-child(2),
.media-group3:nth-child(3):target ~ .navigation-indicators3 > *:nth-child(3),
.media-group3:nth-child(4):target ~ .navigation-indicators3 > *:nth-child(4),
.media-scroller3:hover .navigation-indicators3 {
  opacity: 1;
}
.media-group3:not(:nth-child(1)):target
  ~ .navigation-indicators3
  > *:nth-child(1) {
  opacity: 0.5;
}
@media all and (min-width: 1025px) and (max-width: 1328px) {
  .cantFinddSize {
    margin-top: 50px;
  }
}
@media all and (min-width: 320px) and (max-width: 1125px) {
  #survey {
    width: 65%;
  }
}

@media all and (min-width: 320px) and (max-width: 1025px) {
  #productthumbnails {
    display: none;
  }
  #shoeimagessection {
    flex-direction: column;
  }
  #buypage .pro-name,
  h3 {
    text-align: center;
  }
}
@media all and (min-width: 320px) and (max-width: 900px) {
  #caurosel {
    display: none;
  }
  #survey {
    width: 75%;
  }
}
@media all and (min-width: 320px) and (max-width: 800px) {
  .top-bar {
    margin-top: -28px;
  }
}
@media all and (min-width: 320px) and (max-width: 768px) {
  #survey {
    display: none;
  }
}
@media all and (min-width: 320px) and (max-width: 750px) {
  #survey,
  #back-to-pre {
    display: none;
  }
  hr {
    display: none;
  }
  .top-bar p {
    flex-wrap: wrap;
  }
}
fieldset > div {
  height: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 0.5em;
}
@media all and (min-width: 320px) and (max-width: 473px) {
  .cantFinddSize {
    margin-top: 50px;
  }
}
@media all and (min-width: 320px) and (max-width: 344px) {
  .cantFinddSize {
    margin-top: 80px;
  }
}
