
        #nav{
            border: 1px solid #ff0000;
            height:220px;
            padding: 0px;
            margin: auto;
        }#top{
            
           
            height:18%;
            display: flex;
        }#second{
          
            height:20%;
            display: flex;
            background-color:#0076BD;
            text-align: center;
            justify-items: center;
            align-items: center;
            padding: 0px 25px 0px 25px;
        }#main{
           
            height:40%;
            display: flex;
            margin: 0px 25px 0px 25px;
        }#main>div:first-child{
            width: 10%;
            
            display: grid;
            justify-items: left;
            align-items: center;
            
        }#main>div:nth-child(2){
            width: 60%;
            
            display: flex;
            margin-left: 20px;
            justify-items: center;
            align-items: center;
        }#main>div:nth-child(2)>button{
            display: block;
        }
        #main>div:nth-child(3){
            width: 35%;
            
            display: flex;
            margin-left: 20px;
            justify-items: center;
            align-items: center;
        }
        #top>div{
            width:10%;
            
            display: grid;
            justify-items: center;
            align-items: center;
            
        }#top>div:first-child{
            background-color:#0076BD 
        }#top>div:last-child{
            border: 1px solid rgb(69, 67, 67);
        }
            
        #img1{
            width: 50%;
            
            
        }#img2{
            width: 90%;
        }
        #top>div>img{
            width: 50%;
            color: #0076BD;
        }#inn{
            
            width: 100px;
            height: 100px;
        }#change{
            background-color:#0076BD;
            color:white;
            font-weight: bold;
            border: none;
            font-size: 18px;
        }#p1{
            margin: auto 0px auto auto;
            color: white;
            font-size: 16px;
        
        }#searchAll{
            width:70%;
            height:50%;
            
            border-color: rgb(223, 217, 217);
        }#but1{
            height: 50%;
            border: none;
            color: white;
            background-color: #05384f;
            border-radius: 0px 4px 4px 0px;
            cursor: pointer;
            width: 20%;
            font-weight: bold;
        }#cart{
            width: 30%;
            height: 50%;
            display: flex;
            border:2px solid #a7e688;
            border-radius: 4px;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: auto 0px auto auto;  ;

        }#cart>button{
            font-weight: bold;
            height: 100%;
            width: 70%;
            color:#035d59;
            font-size: 15px;
            border: none;
            background-color: white;

        }#cart>button:hover{
            background-color:#a7e688 ;
        }#cart>img{
            width: 30%;
            height: 100%;
        }#last{
            
            height:22%;
            display: flex;
            background-color:floralwhite;
            text-align: center;
            justify-items: center;
            align-items: center;
        }#last>select{
            height: 50%;
            border: none;
            background-color: floralwhite;
            font-size: 16px;
            font-weight: 400;
            margin: 6px;
            color: #003953;
            
        }#last>select:nth-child(1){
            width:60px;
            margin-left: 20px;
        }#last>select:nth-child(2){
            width:90px
        }#last>select:nth-child(3){
            width:60px
        }#last>select:nth-child(4){
            width:60px
        }#last>select:nth-child(5){
            width:115px
        }#last>select:nth-child(6){
            width:80px
        }#last>select:nth-child(7){
            width:60px
        }
        #last>select:last-child{
            margin: 0px;
        }
        #imgfire{
           margin-left: 6px;
            width: 20px;
        }#last>button{
            margin: auto 20px auto auto;
            height:50%;
            font-size: 16px;
            border: none;
            color: #003953;
            font-weight: 400;
            background-color: floralwhite;
        }#curser{
            height:18%;
            border: 1px solid black;
            background-color: azure;
            display: flex;
            align-items: center;
            justify-content: center;
        }#curser>button{
            position: absolute;

        }#curser>button:nth-child(2){
            left:5%;
            background-color: azure;
            border: none;
            font-size: 30px;
        }#curser>button:nth-child(3){
            right:5%;
            background-color: azure;
            border: none;
            font-size: 30px;
        }#but1:hover{
            background-color: #3985b5;
        }nav{
            background-color:floralwhite;
            position: relative;
            width: 100%;
            height:90%;
            z-index: 999;
            
            
            
        }
        nav .wrapper{
            
            padding: 0,30px;
            margin: auto;
            display: flex;
            align-items: center;
            font-weight: 500px;
            width: 100%;
            border: 1px solid white;
            justify-content: space-between;
            

        }.wrapper .nav-links{
            display: inline-flex;
            
            
        }.nav-links li{
            list-style: none;
        
        }.nav-links li a{
            
            height: 50%;
            border: none;
           
            font-size: 16px;
            font-weight: 400;
            margin: 6px;
            text-decoration: none;
            color: #003953;
        }.nav-links li a:hover{
           background: #EFEFAF;
            border-bottom: 2px solid #003953;
        }.nav-links.mega-links{
            
            width: 200px;
            top:100px;
            margin: auto;
           
            position: absolute;
            
        }.nav-links li:hover .new-box{
            top: 40px;
            width: 95%;
            position:absolute;
            opacity: 1;
            
            background-color: white;
            visibility: visible;
            transition: all 0.4s ease;
            
        }.new-box{
            position: absolute;
            top:200px;
            opacity: 0;
           
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            visibility: hidden;
            
            width: 100%;
            left:0;
            
            padding: 25px 20px;
    
        }.new-box .content{
            
            
            padding: 25px 20px;
            display: flex;
            width: 100%;
            line-height: 30px;
            font-weight: normal;
            justify-content:space-evenly ;
            text-align: left;
        }.content .row img{
            width: 50%;
            height: 34%;
            display:block;
            object-fit: cover;
        }.row>button{
            
                color: #fff;
                font: 600 16px Open Sans,sans-serif;
                padding: 10px 20px;
                margin-bottom: 5%;
                height: auto;
                width: 50%;
                background: #003953;
                cursor: pointer;
            
        }.row.mega-link li a{
            padding: 0 20px;
            text-align: left;
            
            font-weight: normal;
            
            
            display: block;
        } .content .brands img{
            width: 100%;
            height: 34%;
            display:block;
            object-fit: cover;
        }.row.brands li a{
            padding: 0 20px;
            
            display: inline-flex;}
        #lastlogo{
            margin-left: 470px;
        }#fireimg{
            width: 15px;
            
        }
    
   