body {
  width: 94%;
  margin: auto;
  color: #1f1f1f;
  font-family: "Open Sans", sans-serif;
}
.title-row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
#sort {
  display: flex;
  align-items: center;
}
#sort > select {
  height: 42px;
  width: 175px;
  border: 1px solid #ddd;
  font-size: 14px;
  padding: 3px 3px 3px 13px;
  border-radius: 4px;
  display: inline-block;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: auto;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  background-color: field;
  cursor: default;
  margin: 0em;
}
#sort-by {
  width: 65px;
}
.title {
  font-weight: 700;
  font-size: 28px;
}
.item-found {
  margin-top: -5px;
  font-size: 16px;
  font-weight: 400;
}
.feedback {
  color: #005b94;
}
.feedback:hover {
  color: #1f1f1f;
  cursor: pointer;
}
#feedback-icon {
  margin-left: 4px;
  width: 14px;
  height: 13px;
  vertical-align: middle;
  display: inline-block;
}
.main-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 13% 83%);
  grid-template-rows: auto;
  gap: 50px;
}
.sort-bar {
  display: flex;
}
.sort-bar > div {
  height: 25px;
  width: 60px;
  margin: 0;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 700 14px Open Sans, sans-serif;
  text-decoration: none;
  padding: 5px 5px;
  position: relative;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 30px;
  color: #003953;
}
.sort-bar > div:hover {
  cursor: pointer;
  border-color: #003953;
}
.sort-bar > .select {
  /* display: inline-block; */
  background: #e5f1f8;
  color: #0076bd;
  border: 1px solid transparent;
  padding: 5px 15px 5px 0px;
}
.sort-bar > .select::after {
  background-image: url(https://m.media-amazon.com/images/G/01/zappos/melody/melody-sprite.2021.09.16._TTH_.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-position: -80px -5px;
  content: "";
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.product-table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 30px;
}
#star {
  width: 20px;
  margin-left: -4px;
}
.rating {
  background-image: url(https://m.media-amazon.com/images/G/01/zappos/melody/melody-sprite.2021.09.16._TTH_.svg);
  background-repeat: no-repeat;
  width: 95px;
  height: 18px;
  background-position: -2px -252px;
  transform: scale(1.04);
}
.text-content > h4 {
  font-weight: 700;
  color: #003953;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: -22px;
}
.cards:hover {
  cursor: pointer;
}
.cards:hover h4 {
  text-decoration: underline;
  cursor: pointer;
  color: #0076bd;
}
.cards:hover h5 {
  text-decoration: underline;
  cursor: pointer;
  color: #0076bd;
}
a {
  text-decoration: none;
}
.text-content .sub-name {
  color: #1f1f1f;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: -10px;
  font-size: 16px;
  font-weight: lighter;
}
.text-content .sub-name:hover {
  color: #0076bd;
  text-decoration: underline;
}
.text-content .price {
  margin-bottom: 2px;
  color: #035d59;
}
.main-img {
  position: relative;
  display: flex;
  max-width: calc(100% - 16px);
  max-height: 100%;
  transition: opacity 0.5s ease;
  align-items: center;
  padding: 15px;
  z-index: -1;
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.leftside-filter-header {
  line-height: 20px;
  text-transform: capitalize;
  padding: 0 9px 8px 0;
  text-align: left;
  cursor: pointer;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dbdbdb;
  color: #1f1f1f;
  font: 600 14px Open Sans, sans-serif;
  width: 100%;
  margin-top: 15px;
}
.no-border {
  border: none;
}
.gender-dropdown > p {
  color: #003953;
  line-height: 2px;
  transition: max-height, padding 0.25s ease;
  display: block;
  max-height: 175px;
  padding-top: 7px;
  padding-bottom: 0;
  border: 0;
  font-size: 13px;
  font-family: Verdana, Arial, sans;
}
.gender-dropdown-gap > p {
  color: #003953;
  line-height: 4px;
  transition: max-height, padding 0.25s ease;
  display: block;
  max-height: 175px;
  padding-top: 7px;
  padding-bottom: 0;
  border: 0;
  font-size: 13px;
  font-family: Verdana, Arial, sans;
  padding-left: 20px;
  position: relative;
}
.gender-dropdown-gap > p::before {
  display: inline-block;
  content: "";
  vertical-align: middle;
  margin-right: 2px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(https://m.media-amazon.com/images/G/01/zappos/melody/melody-sprite.2021.09.16._TTH_.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  background-position: -5px -160px;
  top: 2px;
}
.gender-dropdown-gap > p:hover {
  color: #2d87b0;
  cursor: pointer;
}
.gender-dropdown > p:hover {
  color: #2d87b0;
  cursor: pointer;
}
#product-type-input {
  color: #1f1f1f;
  font: 400 16px Open Sans, sans-serif;
  line-height: 1.35;
  padding: 8px 12px;
  background: #fff;
  box-shadow: none;
  border: 2px solid #ddd;
  border-radius: 4px;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -o-appearance: textfield;
  appearance: textfield;
  transition: border 0.3s ease 0s;
  width: 100%;
  box-sizing: border-box;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  margin-bottom: 5px;
}

/* extra css */
.Jl-z {
  background-color: transparent;
  font-size: 100%;
  padding: 0;
  text-decoration: none;
  font: 400 14px Open Sans, sans-serif;
  display: inline;
  color: #003953;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 0;
  width: calc(25% - 12px);
  margin: 6px;
}
.Mk-z {
  display: flex;
  flex-direction: inherit;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  text-indent: -999999px;
  overflow: hidden;
}
.Vl-z,
.Vl-z figure {
  position: relative;
}
.Vl-z:not(.Zl-z):before {
  content: "";
  background-color: rgba(0, 0, 0, 0.04);
  position: absolute;
  pointer-events: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  z-index: auto;
}
.Ik-z {
  top: 0;
}
.Hk-z,
.Ik-z {
  width: 100%;
  height: 20%;
}
.Hk-z,
.Ik-z,
p.Il-z {
  position: absolute;
  left: 0;
}
.Lk-z {
  color: #fff;
  background: #2c5987;
  text-transform: uppercase;
}
.Jk-z,
.Kk-z,
.Lk-z {
  color: #1f1f1f;
  line-height: 1.5;
  font: 400 12px Open Sans, sans-serif;
  position: absolute;
  top: 16px;
  left: 16px;
  padding: 2px 6px;
  font-weight: 700;
  z-index: 0;
}
.Kl-z,
.Kl-z:before {
  position: absolute;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.Kl-z {
  right: 0;
  top: 4px;
  background: #fff;
}

.Kl-z:before {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  content: "";
  pointer-events: none;
  background: rgba(0, 0, 0, 0.04);
}
.Kl-z,
.Kl-z:before {
  position: absolute;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.Ll-z {
  top: 0;
}
.Ll-z:before {
  height: auto;
}
.Nl-z {
  display: block;
  background: transparent;
  height: 44px;
  min-width: 44px;
  width: 100%;
  max-width: 100px;
  text-align: left;
  border: none;
  padding: 0;
  z-index: 2;
  cursor: pointer;
  color: #707070;
  font-size: 16px;
  overflow: hidden;
  position: relative;
  text-indent: 22px;
}

.Nl-z:before {
  background-image: url(https://m.media-amazon.com/images/G/01/zappos/melody/melody-sprite.2021.09.16._TTH_.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
  background-position: -4px -140px;
  display: block;
  border: none;
  cursor: pointer;
  content: "";
  top: calc(50% - 6px);
  position: absolute;
}
button.Rl-z {
  width: auto;
  height: auto;
  margin: 0;
  padding: 4px;
  border-bottom-left-radius: 8px;
  background-color: #fff;
  z-index: 4;
}
.Hk-z {
  bottom: 0;
}

.Hk-z,
.Ik-z {
  width: 100%;
  height: 20%;
}
.Hk-z,
.Ik-z,
p.Il-z {
  position: absolute;
  left: 0;
}
.Nk-z {
  position: relative;
}
.Ok-z {
  width: calc(100% - 32px);
  font-weight: 700;
}

.Ok-z,
.Pk-z {
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.7;
}
.Pk-z {
  color: #1f1f1f;
}

.Ok-z,
.Pk-z {
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.7;
}
.Nk-z .Qk-z,
.Nk-z dt {
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
}
.Tl-z {
  line-height: 1.7;
  color: #035d59;
}
