.sign-in {
  font-size: 13px;
  line-height: 19px;
  color: #111;
  font-family: Arial, sans-serif;
}
#zappos-logo {
  display: block;
  margin: auto;
  margin-top: 15px;
}
#container {
  display: block;
  width: 320px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 26px !important;
  border-radius: 4px;
  border: 1px #979797 solid;
  background-color: #fff;
  font-family: Arial, sans-serif;
  line-height: 34px;
  color: #1f1f1f;
  font-weight: 400;
  position: relative;
  padding: 14px 18px;
}
#container > h1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 5px;
  margin-top: 0;
}
label {
  display: block;
  padding-left: 2px;
  padding-bottom: 2px;
  font-size: 13px;
  font-weight: 700;
}
form > input {
  width: 95%;
  margin: auto;
  margin-right: 0;
  margin-top: -15px;
  background-color: #fff;
  height: 24px;
  padding: 3px 7px;
  line-height: normal;
  border-radius: 3px;
  outline: 0;
  border: solid 2px #ddd !important;
  font-size: 100%;
  vertical-align: middle;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
}
.rule {
  display: block;
  text-align: left;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 10px;
  margin-top: 0 !important;
}
#sign {
  width: 100%;
  height: 35px;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  background-color: #003953;
  margin-top: 10px;
  cursor: pointer;
  z-index: 20;
}
p {
  display: block;
  font-size: 12px !important;
  line-height: 1.5 !important;
  margin-top: 18px !important;
  width: 100%;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #003953;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}
#sign-in-tag {
  font-weight: lighter;
}
