body {
  margin: 0;
  padding: 0;
}
#foot > div:first-child {
  height: 120px;

  padding: 10px 32px;
  background-color: #032c48;

  font: 400 14px Open Sans, sans-serif;
  max-width: 1380px;
  /* color: #fff; */
  margin: auto;
}
h2 {
  color: white;
  margin-top: 3px;
}
#foot > div:last-child {
  height: 550px;
}
#button:hover {
  background-color: white;
  color: #003953;
}
#mail {
  color: #1f1f1f;
  font: 400 16px Open Sans, sans-serif;
  padding: 12px 15px;
  width: 200px;

  border-radius: 5px;
  font-weight: 520;
}
#button {
  background-color: #003953;
  margin-left: 16px;
  color: white;
  text-align: center;
  width: 280px;
  padding: 12px 24px;
  border: 2px solid white;
  border-radius: 5px;
  font-weight: 600;
}
#middel {
  display: flex;
  max-width: 1440px;
  background: #003953;
  box-sizing: border-box;
  justify-content: space-around;
  margin: auto;
}
#middel > div {
  background: #003953;

  width: 17%;
  padding: 8px;
  line-height: 30px;
  padding-left: 0px;
}
#middel > div h2 {
  color: #003953;
  color: white;
  font: 600 18px Open Sans, sans-serif;
}
a {
  text-decoration: none;
  color: white;
  font: 400 14px Open Sans, sans-serif;
  cursor: pointer;
}
.innerh2 {
  margin-top: 20px;
}
li {
  list-style: none;
}
a:hover {
  border-bottom: 2px solid white;
}
#para {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font: 400 14px Open Sans, sans-serif;
  color: white;
  padding: 15px;
  width: 100%;
  background: #144860;
}
#para > button {
  font: 700 14px/120% Open Sans, sans-serif;
  border-radius: 4px;
  padding: 12px 24px;
  background: #144860;
  cursor: pointer;

  color: white;
  text-align: left;

  border: 2px solid white;
}
#para > button:hover {
  background-color: white;
  color: #003953;
}
#foot > div:last-child {
  box-sizing: border-box;
  padding: 16px 32px;
  background: #003953;
  line-height: 1.5;
  font: 400 14px Open Sans, sans-serif;
  max-width: 1440px;
  margin: auto;
  border: 2px solid #032c48;
  height: 100px;
  color: #fff;
}
@media all and (min-width: 240px) and (max-width: 800px) {
  #middel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-content: space-evenly;
    justify-items: center;
    margin: auto;

    margin: auto;
  }
  #middel > div {
    padding: 0%;
    margin: 0%;
  }
  #mail {
    width: auto;
    padding: auto;
  }
  #button {
    width: auto;
  }
  #foot > div:first-child {
    height: auto;
  }
}
