#nav {
  height: 150px;
  padding: 0px;
  margin: auto;
  border: 1px solid #dadada;
}
body {
  margin: 0;
  padding: 0;
}
#top {
  height: 25%;
  display: flex;
}
#second {
  height: 25%;
  display: flex;
  background-color: #0076bd;
  text-align: center;
  justify-items: center;
  align-items: center;
  padding: 0px 25px 0px 25px;
}
#main {
  height: 40%;
  display: flex;
  margin: 0px 25px 0px 25px;
}
#main > div:first-child {
  width: 10%;

  display: grid;
  justify-items: left;
  align-items: center;
}
#main > div:nth-child(2) {
  width: 60%;

  display: flex;
  margin-left: 20px;
  justify-items: center;
  align-items: center;
}
#main > div:nth-child(2) > button {
  display: block;
}
#main > div:nth-child(3) {
  width: 35%;

  display: flex;
  margin-left: 20px;
  justify-items: center;
  align-items: center;
}
#top > div {
  width: 10%;

  display: grid;
  justify-items: center;
  align-items: center;
}
#top > div:first-child {
  background-color: #0076bd;
}
#top > div:last-child {
  border: 1px solid rgb(69, 67, 67);
}

#img1 {
  width: 50%;
}
#img2 {
  width: 90%;
  margin-top: 5%;
}
.chekout {
  font: 400 28px Open Sans, sans-serif;
  display: inline;
  color: #1f1f1f;
  margin: 8px 0 0 25px;
  vertical-align: middle;
}
#top > div > img {
  width: 50%;
  color: #0076bd;
}
#inn {
  width: 100px;
  height: 100px;
}
#change {
  background-color: #0076bd;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 18px;
}
#p1 {
  margin: auto 0px auto auto;
  color: white;
  font-size: 16px;
}

#mid {
  display: flex;

  margin: auto;

  margin-top: 10px;
}
#div1 {
  display: block;
  width: 60%;

  height: 100%;
}

.address {
  width: auto;
  padding: 10px 10px 10px 10%;
}
h2 {
  color: #1f1f1f;
  font: 600 24px Open Sans, sans-serif;
}
.display {
  display: flex;
  width: 92%;
  justify-content: space-between;
}
.display > div {
  width: 25%;
}
.form {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 3% 7% 3% 5%;
  width: 95%;
  color: #1f1f1f;
  font: 400 16px Open Sans, sans-serif;
  line-height: 1.35;
  padding: 8px 12px;
  background: #fff;

  border: 2px solid #ddd;
  border-radius: 4px;
}
.form input {
  width: 90%;
  appearance: none;
  border: 2px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  font: 400 16px Open Sans, sans-serif;
  padding: 8px 38px 8px 12px;
}
.form p {
  display: block;
  margin-bottom: 4px;
  color: #1f1f1f;

  font: 400 14px Open Sans, sans-serif;
}
.div {
  display: flex;

  margin-top: 20px;
  width: 95%;
  justify-content: auto;
}
.div > button {
  font: 700 14px/120% Open Sans, sans-serif;
  height: none;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;

  cursor: pointer;

  padding: 15px 30px;
}
.div > button:first-child {
  border: 2px solid #003953;
  margin-right: 0%;
  margin-left: auto;
}
.div > button:last-child {
  color: #fff;
  background-color: #003953;
  margin-right: 3%;
  margin-left: 3%;
}
.buttons > button {
  font: 400 16px Open Sans, sans-serif;
  background: transparent;
  border: 0;
  border-bottom: 2px solid transparent;
  color: #000;
  cursor: pointer;
  font-weight: 700;
  margin: 0 58px 0 0;
  overflow: hidden;
  padding: 0;
  text-transform: none;
  white-space: nowrap;
  width: 100px;
  height: 45px;
}
.buttons {
  display: flex;
  margin: auto;
}
.s1 {
  width: 90%;
  margin-bottom: -6px;
}
.bottom {
  background-color: #f5f5f5;
}
#bill {
  margin-left: 2%;
  line-height: 14px;
}
#payment {
  margin: 2% 2% auto auto;
  height: 100%;
}
.div > button:last-child:hover {
  background-color: #0076bd;
}
.display:last-child {
  justify-content: space-around;
}
.div2 {
  background-color: #f5f5f5;
  padding: 16px;
  position: relative;
  border-radius: 4px;
}
.div2 > input {
  color: #b0b0b0;
  background: #f5f5f5;
  border-color: #ddd;
  cursor: not-allowed;
  padding: 12px 14px;
  width: 90%;
  text-align: center;
}
.divide {
  display: flex;
  justify-content: space-between;
}
#line {
  color: black;
}
#right {
  width: 40%;
}
.div2 {
  margin-top: 10%;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 4px;
  border: 2px solid #cecbcb;
}
.div3 {
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 4px;
  border: 2px solid #cecbcb;
  background-color: #f5f5f5;
  padding: 16px;
  position: relative;
  border-radius: 4px;
  margin-top: 3%;
}
.div3 > input {
  color: #b0b0b0;
  background: #ffffff;
  border-color: #ddd;

  padding: 12px 14px;
  width: 60%;
  text-align: center;
}
.div3 > button {
  padding: 12px 14px;
  border-color: #ddd;
  cursor: not-allowed;
}
.div3 > input:hover {
  border: 2px dotted #0076bd;
}
