#nav {
  height: 220px;
  padding: 0px;
  margin: auto;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#top {
  width: 95%;
  margin: auto;

  height: 34px;
  display: flex;
}
#second {
  height: 40px;
  display: flex;
  background-color: #0076bd;
  text-align: center;
  justify-items: center;
  align-items: center;
  padding: 0px 25px 0px 25px;
  padding-left: 40px;
}
#main {
  height: 40%;
  display: flex;
  margin: 0px 25px 0px 25px;
}
#main > div:first-child {
  width: 10%;

  display: grid;
  justify-items: left;
  align-items: center;
}
#main > div:nth-child(2) {
  width: 60%;

  display: flex;
  margin-left: 20px;
  justify-items: center;
  align-items: center;
}
#main > div:nth-child(2) > button {
  display: block;
}
#main > div:nth-child(3) {
  width: 35%;

  display: flex;
  margin-left: 20px;
  justify-items: center;
  align-items: center;
}

#search {
  width: 71%;
  padding: 12px;
  border: 2px solid #dddddd;
  border-right: none;
}
#top > div {
  width: 10%;

  display: grid;
  justify-items: center;
  align-items: center;
}
#top > div:first-child {
  max-width: 120px;
  background-color: #0076bd;
  box-shadow: -1px 0 0 #d5d9d9, 1px 0 0 #d5d9d9, inset 0 2px 0 #003953;
  transition: filter 0.1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  transition: background-color 0.1s ease-in-out;
  cursor: pointer;
}
#top > div:last-child {
  max-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  box-shadow: 1px 0 0 #d5d9d9;
  transition: background-color 0.1s ease-in-out;
  border-top: none;
  border-bottom: none;
  cursor: pointer;
}
#top-img-2 {
  max-width: 50px;
  height: 10px;
}
#img2 {
  width: 90%;
  margin-left: 10px;
}
#top > div > img {
  width: 50%;
  color: #0076bd;
}
#inn {
  width: 100px;
  height: 100px;
}
#change {
  background-color: #0076bd;
  color: white;
  font-weight: 700;
  border: none;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
#p1 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  font-size: 16px;
  margin: auto 0px auto auto;
}

#searchAll {
  width: 55%;
  padding: 12px;
  background-color: white;
  margin-left: -70%;
  border: none;
  border-radius: 0;
}
#but1 {
  height: 50%;
  border: none;
  color: white;
  background-color: #05384f;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  width: 15%;
  font-weight: bold;
}
.h-z {
  order: 3;
  color: #035d59;
  font: 700 14px/120% Open Sans, sans-serif;
  border: 2px solid #a7e688;
  border-radius: 4px;
  padding: 12px 14px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  touch-action: manipulation;
  text-align: center;
  transition: all 0.3s ease 0s;
  user-select: none;
  background: #fff;
  margin-left: auto;
  display: block;
  position: relative;
  font-feature-settings: normal;
}
.h-z:before {
  background-image: url(https://m.media-amazon.com/images/G/01/zappos/melody/melody-sprite.2021.09.16._TTH_.svg);
  background-repeat: no-repeat;
  width: 19px;
  height: 17px;
  background-position: -5px -5px;
  content: "";
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  transform: scale(1);
  transition: transform 0.25s ease-in-out;
}
.h-z:hover {
  background-color: #c3f4aa;
}
#cart > img {
  width: 30%;
  height: 100%;
}
#imgfire {
  margin-left: 6px;
  width: 20px;
}
#last > button {
  margin: auto 20px auto auto;
  height: 50%;
  font-size: 16px;
  border: none;
  color: #003953;
  font-weight: 400;
  background-color: floralwhite;
}
#curser {
  height: 37px;
  border: 1px solid #dddddd;
  background-color: #e5f1f8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: none;
}
#curser > button {
  position: absolute;
}
#curser > button:nth-child(2) {
  left: 5%;
  background-color: #e5f1f8;
  border: none;
  font-size: 30px;
}
#curser > button:nth-child(3) {
  right: 5%;
  background-color: #e5f1f8;
  border: none;
  font-size: 30px;
}
#but1:hover {
  background-color: #3985b5;
}
nav {
  background-color: #f4f4f4;
  position: relative;
  width: 100%;
  z-index: 999;
  height: 48px;
}
nav .wrapper {
  margin: auto;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.wrapper .nav-links {
  display: inline-flex;
}
.nav-links li {
  list-style: none;
  font: 600 16px Open Sans, sans-serif;
  color: #003953;
  text-align: left;
  line-height: 30px;
}
.size {
  background-color: transparent;
  border-width: 0;
  font-size: 100%;
  color: #003953;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  padding: 12px 14px;
  font: 600 16px Open Sans, sans-serif;
  white-space: nowrap;
  transition: 0.25s ease-in-out;
  position: relative;
  z-index: 102;
}
.first-menu {
  padding: 12px 14px 12px 0px !important;
}
.size:after {
  content: "";
  display: inline-block;
  margin: 10px 0 0 4px;
  position: absolute;
  height: 0;
  width: 0;
  border: 4px solid transparent;
  border-top-color: #ccc;
}
.size[aria-expanded]:after {
  transform: rotate(0deg);
  transform-origin: 50% 25%;
  transition: 0.25s ease-in-out;
}
.special {
  background-color: transparent;
  border-width: 0;
  font-size: 100%;
  color: #003953;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  padding: 12px 14px;
  font: 600 16px Open Sans, sans-serif;
  white-space: nowrap;
  transition: 0.25s ease-in-out;
  position: relative;
  z-index: 102;
}
.nav-links {
  margin-top: 10px;
}
.nav-links > li > a {
  font-family: "Open Sans", sans-serif;
  height: 50%;
  border: none;
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  text-decoration: none;
  color: #003953;
}
.nav-links li a:hover {
  border-bottom: 2px solid #003953;
}
.nav-links.mega-links {
  width: 100px;
  top: 100px;
  margin: auto;
  position: fixed;
}
.nav-links li:hover .new-box {
  top: 50px;
  width: 90%;
  position: absolute;
  opacity: 1;
  background-color: white;
  visibility: visible;
  transition: all 0.4s ease;
}
.new-box {
  position: absolute;
  top: 200px;
  opacity: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  visibility: hidden;
  width: auto;
  left: 0;
  padding: 25px 20px;
}
.new-box .content {
  padding: 25px 20px;
  display: flex;
  width: 100%;
  line-height: 30px;
  font-weight: 500;
  justify-content: space-around;
  text-align: center;
}
.content .row img {
  margin-left: 25%;
  width: 50%;
  height: 34%;
  display: block;
  object-fit: cover;
}
.row > button {
  color: #fff;
  font: 600 16px Open Sans, sans-serif;
  padding: 10px 20px;
  margin-bottom: 5%;
  height: auto;
  width: 50%;
  background: #003953;
  cursor: pointer;
}
.row.mega-link li a {
  padding: 0 20px;
  text-align: center;

  display: block;
}
.content .brands img {
  width: 100%;
  height: 34%;

  display: block;
  object-fit: cover;
}
.row.brands li a {
  padding: 0 20px;

  display: inline-flex;
}
#lastlogo {
  margin-top: -8px;
  position: absolute;
  right: 30px;
}
.but:hover {
  cursor: pointer;
}
#a1 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}
header {
  font-size: 16px;
  font-weight: 600;
  color: #00567d;
}
ul li a {
  color: #096b99;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}
button {
  border: transparent;
}

#bar {
  display: none;
}
#user {
  display: none;
}
#clogo {
  display: none;
}
@media all and (min-width: 240px) and (max-width: 800px) {
  body {
    width: 100%;
  }
  #clogo {
    display: block;
    margin: auto 5% auto 0px;
  }
  #user {
    display: block;
    margin: auto 5% auto auto;

    cursor: pointer;
  }
  #bar {
    display: block;
    margin-left: 5%;
    width: 10px;
    cursor: pointer;
  }
  #p1 {
    display: none;
  }
  nav {
    display: none;
  }
  #search {
    margin-top: 2%;
    width: 90%;
    border-right: 2px solid #dddddd;
    height: 12%;
    cursor: pointer;
  }
  #img1,
  #top-img-2 {
    height: 100%;
  }
  #second {
    height: 18%;
    width: auto;
  }
  #main {
    display: inline;
  }
  .h-z {
    display: none;
  }
  #main > div:first-child {
    width: 100%;
    display: flex;

    height: 7%;
  }
  #main > div:nth-child(2) {
    width: auto;
  }
  #img2 {
    width: 12%;
    margin-left: 20px;
    margin-top: -10px;
  }

  #curser {
    height: 12%;
    width: auto;
    margin-top: -2%;
  }
  #searchAll {
    width: 80%;

    margin-left: -80%;
    margin-top: 2%;
    border: none;

    border-radius: 0;
  }
  #but1 {
    padding: 14px;
    border-right: 2px solid #05384f;
    margin-top: 2%;
    border-radius: 0px 4px 4px 0px;

    width: 20%;
    font-weight: bold;
  }
  .but {
    height: 0%;
    background: none;
    position: relative;
    margin-top: -5%;
  }
  #top > div {
    width: 20%;
  }
}
